<header class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><%= link_to "Variant 1", root_path%></li>
			<li><%= link_to "Variant 2", assmblyinst2_path%></li>
			<li><%= link_to "Variant 3", assmblyinst3_path%></li>
			<div class="tab-content">
			<div class="tab-pane active fade" id="tab1">
				
			</div>
			<div class="tab-pane fade" id="tab2"></div>	
			</div>
			<div class="tab-pane fade" id="tab3"></div>	
			</div>
		</ul>
		
		
	</header>


